.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

#inputimage {
    height: 360px;
}

@media screen and (max-width: 380px) {
    #inputimage {
        width: 100%;
    }
}